@charset "UTF-8";
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Roboto', sans-serif; */




html, body{ margin: 0; 
z-index: 100;}
/* h1 {
  position: fixed; top: 0; width: 100%; height: 60px; 
  text-align: center; background: white; margin: 0; line-height: 60px;
} */



.Menu {
   position:fixed;
   background:white;
   opacity:0.9;
   height: 120px;
}

.box2{
   margin-top: 10vw;
}


a {text-decoration: none;
    color: black;}

html,body {width: 100%; overflow-x: hidden; overflow-y: auto;}

* {margin: 0; padding: 0;}

.mobile_btn{
    position: absolute;
    top:48px;
    left: 35px;
} 

input[id="hamburger"] {
  display: none;
}
input[id="hamburger"] + label {
  display: block;
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
input[id="hamburger"] + label span {
  display: block;
  position: absolute;
  width: 80%;
  height: 5px;
  border-radius: 30px;
  background: #000;
  transition: all 0.35s;
}
input[id="hamburger"] + label span:nth-child(1) {
  top: 0;
}
input[id="hamburger"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="hamburger"] + label span:nth-child(3) {
  bottom: 0;
}
input[id="hamburger"]:checked + label {
  z-index: 99;
}
input[id="hamburger"]:checked + label span {
  background: black;
}
input[id="hamburger"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="hamburger"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="hamburger"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
div[class="sidebar"] {
  width: 350px;
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 98;
  transition: all 0.35s;
}

input[id="hamburger"]:checked + label + div {
  left: 0;
}

.nav_mobile {
    position: absolute;
    top:140px;
    width: 100%;
    }

.sidebar .nav_mobile li {
   color:black;
    position:relative;
    float:left; 
    width:100%; 
    list-style-type:none; 
    font-size:20px;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    }
    
.sidebar a {
    padding: 0;
    text-decoration: none;
    display: block;
}

.sidebar li a{
   font-family: 'Raleway', sans-serif;
    display:block;
    font-weight:bold;
    line-height:40px;
    margin:0px;
    padding:0;
    text-align:center;
    text-decoration:none;
    transition: all 0.4s;
    }

.sidebar li a:hover, .sidebar ul li:hover a {

    text-decoration: none;
    color: #eee;
    padding: 0;
    margin: 0;
    border: 0px;
}



@media (max-width: 800px) {
  .topMenu .hambergerBtn {
   display:none;
  }
  
  .topMenu .searchbarBtn {
    display:none;
  }
  
   .topMenu .saveBtn {
    display:none;
  }
  
   .topMenu .mypageBtn {
    display:none;
  }
  
   .topMenu .logoBtn {
      display:none;
   }
   
   .topMenu .logoBtn2 {
    margin-top:30px;
   margin-left:30vw;
   width:212px;
   height: 80px;
   background-image: url("http://localhost/view/image/LOGO.png");
   background-repeat: no-repeat;
   }
   
 
}


.topMenu {
   float: left;
   width : 100vw;
   height : 150px;
}

.topMenu .topMenuRight {
   margin-left: 70vw;
   width: 600px;
   height : 100px;
}

.topMenu .hambergerBtn {
   float:left;
   margin-top: 47px;
   margin-left:50px;
   width: 41px;
   height: 39px;   
}

.topMenu .logoBtn {
   float:left;
   margin-top:30px;
   margin-left:30px;
   width:212px;
   height: 80px;
   background-image: url("http://localhost/view/image/LOGO.png");
   background-repeat: no-repeat;
}

.topMenu .searchbarBtn {
   float: left;
   margin-top: 45px;   
   width: 358px;
   height: 51px;
   background-image: url("http://localhost/view/image/검색창.png");
   background-repeat: no-repeat;
}

.searchbar {
   border-radius:50px;
   margin-left: 30px;
   margin-top: 10px;
   width: 270px;
   height : 30px;
   border : none;
   outline: none;
   font-size : 20px;
   font-family: 'Noto Sans KR', sans-serif;
}




.topMenu .saveBtn {
   float: left;
   margin-top: 47px;
   margin-left: 50px;
   width: 33px;
   height: 43px;
   background-image: url("http://localhost/view/image/찜버튼.png");
   background-repeat: no-repeat;
}


.topMenu .mypageBtn {
   float: left;
   margin-top: 47px;
   margin-left: 50px;
   width: 45px;
   height: 43px;
   background-image: url("http://localhost/view/image/마이페이지버튼.png");
   background-repeat: no-repeat;
   z-index: 999;
}

.image-link{
	position: absolute;
	font-size: 80px;
	margin-top: -50px;
}

.headerBox {
   float: left;
   width: 100vw;
   height: 100px;
   text-align:center;
}

.header {
   
   margin-top : 0px;
   text-align : center;
   font-family: 'Raleway', sans-serif;
   font-size : 40px;
   font-weight: 700;
}

































     #columns{

      width: 80%;
      margin-left:10%;
       margin-top: 0px;
       float:left;
        column-width:350px;
        column-gap: 15px;
      }
      
      #columns figure{
       text-align:center;
        display: inline-block;
        border:0px solid rgba(0,0,0,0.2);
        margin:0;
        margin-bottom: 15px;
        padding:10px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);;
      }
      #columns figure img{
        margin-top:3%;
        width:95%;
      }
      #columns figure figcaption{
        padding:10px;
        margin-top:11px;
        margin-bottom:3%;
      }




#popup {
   position: absolute;
   left: 0px;
   top: 0px;
    display: none; /*숨기기*/
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

#popmenu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 900px;
    background: #fff;
    border-radius : 15px;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
}

#popmenu p {
    margin-top: 80px;
}



/*본문내용*/
#contents {
   
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.popimg {
   margin-left:5%;
   margin-top: 0px;   
   width:90%;
}


    
.userId {
   text-align:left;
   height:30px;
   margin-left:16%;
   margin-top: 6%;
   width: 50%;
   font-size:18pt;
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
}
    
.userpng {
   position :absolute;
   width: 40px;
   height: 50px;
   margin-left: 42px;
   margin-top: 31px;
}
    
.hashtag {
   text-align: left;
   width: 84%;
   margin-left:8%;
   font-size : 14pt;
   font-weight: 300;
   margin-top: 10px;
   font-family: 'Noto Sans KR', sans-serif;
   
}
    
.popex {
   float: left;
   margin-top:30px;
   margin-left:40px;
   width: 25%;
}
    
.popEx {
   float: left;
   margin-top: 40px;
   margin-left: 20px;
   width: 55%;
   text-align:left;
   
}

.popex2 {
   margin-top: 0;
   margin-left: 0;
   width: 100%;
   text-align:left;
   font-size: 24pt;
   font-family: 'Roboto', sans-serif;
   font-family: 'Noto sans KR', sans-serif;
}
.popex3 {
   margin-top: 10px;
   margin-left: 0;
   width: 100%;
   text-align:left;
   font-size: 14pt;
   font-family: 'Roboto', sans-serif;
   font-family: 'Noto sans KR', sans-serif;
}
    
