@charset "UTF-8";

.logo {
	padding-top: 40px;
	text-align: center;
	margin: auto;
	padding-bottom: 40px;
}

.form {
	text-align: center;
	border: 1px solid #d2d2d2;
	padding: 10px;
	width: 470px;
	height: 170px;
	margin: auto;
	border-radius: 40px 40px 40px 40px;
	box-shadow: 5px 5px 5px #c8c8c8;
	position: relative;
}

.text  {
	width: 410px;
	height: 45px;
	outline: none;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-color: #dcdcdc;
	margin-top: 20px;
	position: relative;
}

.FindId {
	text-align: center;
	margin: auto;
}

.idbtn{
	width: 490px;
	height: 50px;
	border-radius: 20px 20px 20px 20px;
	border: 1px solid #d2d2d2;
	background-color: white;
	box-shadow: 2px 2px 2px 	#dcdcdc;
	margin-top : 30px;
	color : black;
}

.spanstyle{
	display: none;
	color: #aaaaaa;
	font-style: italic;
	font-size: 10pt;
	position: absolute;
	text-align: left;
	margin-left: 30px; /* 왼쪽 정렬 */
}

